.advanced-search .form-group .form-control {
	height: 24px;
}
.advanced-search .form-group .btn-flat {
	padding: 2px 10px;
	font-style: italic;
}
.advanced-search .form-group label {
	font-size: 13px;
}