.advanced-search .form-group .form-control {
	height: 24px;
}
.advanced-search .form-group .btn-flat {
	padding: 2px 10px;
	font-style: italic;
}
.advanced-search .form-group label {
	font-size: 13px;
}
.advanced-search .selected-item {
	background: steelblue;
}
.advanced-search .btn-area {
	display: flex;
	flex-wrap: wrap;
}
.advanced-search .btn-area .btn-item {
	margin-bottom: 15px;
	display: inline-block;
}
.advanced-search .btn-area .btn-item span {
	padding: 4px 6px 6px;
	border: 1px solid #ddd;
	border-radius: 15px;
	margin: 2px;
	cursor: pointer;
	font-size: 13px;
	position: relative;
	color: #888;
}
.advanced-search .btn-area .btn-item span:hover {
	color: #000;
	background: #eee;
}
.advanced-search .has-item {
	color: #fff !important;
	background: #337ab7;
	border: none !important;
}
.advanced-search .has-item:hover {
	background: #026dac !important;
}
.advanced-search .btn-area .btn-item span p {
	display: inherit;
    position: absolute;
    top: -8px;
    padding: 0 4px;
    background: #f16464;
    border-radius: 50%;
    right: -3px;
    font-size: 11px;
}
.advanced-search .data-key-area {
	height: 320px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.advanced-search .btn.btn-default.form-control.ui-select-toggle {
  padding: 1.5px 7px;
}
