<div class='modal fade' data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog'>
        <div class="wi-modal-content modal-content" ng-form="form">
            <div class="wi-modal-header modal-header">
                <div>Advanced Search {{self.loadedFilter ? "("+self.loadedFilter.name+")":""}}</div>
                <div ng-click="self.closeModal()" class="ti ti-close" style="cursor: pointer;"></div>
            </div>
            <div class="wi-modal-body slim-scroller">
                <div style="display: flex;border-bottom: 2px solid #f5f5f5;
                margin-bottom: 20px;">
                    <div class="search-for">
                        <div>Search for:</div>
                        <div class="item-list">
                            <div ng-click="self.searchQuery.type = 'all'"
                                ng-class="{'actived': self.searchQuery.type === 'all'}">
                                <div>All</div>
                            </div>
                            <div ng-click="self.searchQuery.type = 'file'"
                                ng-class="{'actived': self.searchQuery.type === 'file'}">
                                <div>File</div>
                            </div>
                            <div ng-click="self.searchQuery.type = 'folder'"
                                ng-class="{'actived': self.searchQuery.type === 'folder'}">
                                <div>Folder</div>
                            </div>
                            <span></span>
                            <div ng-click="self.subFolders = !self.subFolders" ng-class="{'actived': self.subFolders}">
                                <div>Sub-Folders</div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div style="display: flex; flex-wrap: wrap;">
                    <div class="btn-item" ng-repeat="(key, value) in self.mapKey">
                        <div ng-click="self.insertMetaDataKey(key)" ng-class="{'has-item' : self.countMDRow(key)}">
                            {{value.label}}
                        </div>
                        <span ng-if="self.countMDRow(key)">{{self.countMDRow(key)}}</span>
                    </div>
                    <div class="btn-item">
                        <div ng-click="self.insertMetaDataKey('custom')"
                            ng-class="{'has-item' : self.countMDRow('custom')}">
                            Custom
                        </div>
                        <span ng-if="self.countMDRow('custom')">{{self.countMDRow('custom')}}</span>
                    </div>
                </div>
                <div class="data-key-area">
                  <form name="conditionsForm">
                    <div ng-repeat="md in self.conditions" ng-class="{'selected-item': self.rowSelected(md)}">
                        <div ng-repeat="child in md.children track by $index">
                            <div class="form-group">
                                <label class="col-sm-2" ng-if="$index == 0">{{self.getLabel(md)}}</label>
                                <label class="col-sm-2" ng-if="$index > 0">&nbsp;</label>
                                <div class="col-sm-9" style="padding-right: 5px;"
                                    ng-if="md.inputtype != 'date' && md.inputtype != 'select'">
                                    <input type="{{md.inputtype}}" class="form-control"
                                        ng-model="child[self.getKeyObj(child)]" required
                                        name="{{md.mdtype + $index}}" ng-class="{'error-form': self.validateConditionsForm(md.mdtype + $index, child)}">
                                </div>
                                <div class="uploaded col-sm-9" ng-if="md.inputtype == 'date'"
                                    style="padding-right: 5px">
                                    <div class="col-sm-4" style="flex: 1; padding: 0;">
                                        <input type="date" class="form-control"
                                            ng-model="child[self.getKeyObj(child)].from" required
                                            name="{{md.mdtype + $index}}" ng-class="{'error-form': self.validateConditionsForm(md.mdtype + $index, child)}">
                                    </div>
                                    <div class="col-sm-1">To</div>
                                    <div class="col-sm-4" style="flex: 1; padding: 0;">
                                        <input type="date" class="form-control"
                                            ng-model="child[self.getKeyObj(child)].to" required
                                            name="{{md.mdtype + $index}}" ng-class="{'error-form': self.validateConditionsForm(md.mdtype + $index, child)}">
                                    </div>
                                </div>
                                <div ng-if="md.inputtype == 'select' && md.mdtype == 'well'" class="col-sm-9"
                                    style="padding-right: 5px;">
                                  <wi-autocomplete style="flex: 1;"
                                    item-list="self.wellSelections"
                                    on-item-changed="self.onWellSelectionChange"
                                    params="$index"
                                    get-item-name="self.getWellName"
                                    input-text="child[self.getKeyObj(child)]">
                                  </wi-autocomplete>
                                    <!--<wi-dropdown-list style="flex:1;" items='self.wellSelections' params="$index"-->
                                        <!--current-select="child[self.getKeyObj(child)]"-->
                                        <!--on-item-changed="self.onWellSelectionChange">-->
                                    <!--</wi-dropdown-list>-->
                                </div>
                                <div ng-if="md.inputtype == 'select' && md.mdtype != 'well'" class="col-sm-9"
                                    style="padding-right: 5px;">
                                    <select class="form-control" style="padding: 0"
                                        ng-model="child[self.getKeyObj(child)]" required
                                        name="{{md.mdtype + $index}}" ng-class="{'error-form': self.validateConditionsForm(md.mdtype + $index, child)}"
                                        ng-options="item for item in self.getSelections(md.mdtype)"></select>
                                </div>
                                <div class="col-sm-1" style="padding-left: 0;">
                                    <span style="height: 24px; cursor: pointer;"
                                        ng-click="self.removeMetaData(self.getKeyObj(child), child)">
                                        <i class="ti ti-close"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-area">
                        <div ng-repeat="field in self.customArr track by $index">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="field.key"
                                        style="font-weight: bold; border: none; padding-left: 0;"
                                        ng-change="self.changeCustomFields(field, 'key', $index)"
                                        name="{{'customKey' + $index}}" ng-class="{'error-form': self.validateConditionsForm('customKey' + $index, field)}"
                                        placeholder="Edit this title" required>
                                </div>
                                <div class="col-sm-9" style="padding-right: 5px">
                                    <input type="text" class="form-control" ng-model="field.value"
                                        name="{{'customValue' + $index}}" ng-class="{'error-form': self.validateConditionsForm('customValue' + $index, field)}"
                                        ng-change="self.changeCustomFields(field, 'value', $index)" required>
                                </div>
                                <div class="col-sm-1">
                                    <span style="height: 24px; cursor: pointer;" ng-click="self.removeCustom($index)">
                                        <i class="ti ti-close"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
            <div class="wi-modal-footer">
                <div class="btn-footer" ng-hide="self.hideActionFilter" ng-click="self.loadFilter()">Load</div>
                <div class="btn-footer" ng-hide="self.hideActionFilter" ng-click="self.saveFilter()">Save</div>
                <div class="btn-footer" ng-click="self.applySearch()">Apply</div>
                <div class="btn-footer ok-btn" ng-click="self.okSearch()">Ok</div>
                <div class="btn-footer close-btn" ng-click="self.closeModal()">Close</div>

            </div>
        </div>
    </div>
</div>
