<div class='modal fade' data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog'>
        <div class="modal-content" ng-form="form">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" ng-click="self.closeModal()">&times;</button>
                <h4 class="modal-title">Advanced Search</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal advanced-search">
                    <div class="form-group">
                        <label class="col-sm-5">Search for</label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="self.searchQuery.type" style="padding:0">
                                <option value="all">All</option>
                                <option value="file">File</option>
                                <option value="folder">Folder</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5">Sub-folders</label>
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="self.subFolders">
                        </div>
                    </div>
                    <div class="btn-area" ng-repeat="(key, value) in self.mapKey">
                        <span ng-click="self.insertMetaDataKey(key)"
                            ng-class="{'has-item' : self.countMDRow(key)}">
                            {{value.label}}
                            <p ng-if="self.countMDRow(key)">{{self.countMDRow(key)}}</p>
                        </span>
                    </div>
                    <div class="data-key-area">
                        <div ng-repeat="md in self.conditions"
                            ng-class="{'selected-item': self.rowSelected(md)}">
                            <div ng-repeat="child in md.children track by $index">
                                <div class="form-group">
                                    <label class="col-sm-2"
                                            ng-if="$index == 0">{{self.getLabel(md)}}</label>
                                    <label class="col-sm-2"
                                            ng-if="$index > 0">&nbsp;</label>
                                    <div class="col-sm-9" style="padding-right: 5px;"
                                        ng-if="md.inputtype != 'date' && md.inputtype != 'select'">
                                        <input type="{{md.inputtype}}" class="form-control"
                                                ng-model="child[self.getKeyObj(child)]">
                                    </div>
                                    <div class="uploaded" ng-if="md.inputtype == 'date'">
                                        <div class="col-sm-4">
                                            <input type="date" class="form-control"
                                                    ng-model="child[self.getKeyObj(child)].from">
                                        </div>
                                        <div class="col-sm-1">To</div>
                                        <div class="col-sm-4">
                                            <input type="date" class="form-control"
                                                    ng-model="child[self.getKeyObj(child)].to">
                                        </div>
                                    </div>
                                    <div ng-if="md.inputtype == 'select'" class="col-sm-9"
                                         style="padding-right: 5px;">
                                        <select class="form-control" style="padding: 0" 
                                                ng-model="child[self.getKeyObj(child)]"
                                                ng-options="item for item in self.datatypes"></select>
                                    </div>
                                    <div class="col-sm-1" style="padding-left: 0; padding-top: 6px;">
                                        <span style="height: 24px" 
                                            ng-click="self.removeMetaData(self.getKeyObj(child), child)">
                                            <i class="fa fa-close"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default"
                        ng-click="self.applySearch()">
                    <span class="apply-16x16"></span>&nbsp;Apply
                </button>
                <button type="submit" class="btn btn-default"
                        ng-click="self.okSearch()">
                    <span class="ok-16x16"></span>&nbsp;Ok
                </button>
                <button type="button" class="btn btn-default" ng-click="self.closeModal()">
                    <span class="close-16x16"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>