<div style="height: 100%;">
  <nav class="navbar navbar-inverse dir-nav-bar" style="margin-bottom: 0;">
    <div style="padding-left: 0;" class="container-fluid">
      <div class="row" style="margin-left: 0px;">
        <div style="padding-left: 0;" class="col-sm-6 col-md-7">
          <ol class="breadcrumb">
            <li>
              <a ng-show="self.currentPath.length > 0" href="" ng-click="self.goTo(-1); self.filter='';self.modeFilter='all'">{{
                'Root'}}</a>
              <span style="color: #fff;" ng-show="self.currentPath.length < 1">{{ 'Root' }}</span>
            </li>
            <li ng-repeat="(key, dir) in self.currentPath track by key" ng-class="{'active':$last}" class="animated fast fadeIn">
              <a href="" ng-show="!$last" ng-click="self.goTo(key); self.filter=''; self.modeFilter='all'">
                {{dir.rootName | strLimit : 8}}
              </a>
              <span ng-show="$last">
                {{dir.rootName | strLimit : 12}}
              </span>
            </li>
          </ol>
        </div>
        <div class="col-sm-5 col-md-4">
          <div class="navbar-collapse">
            <div style="width: 100%;" class="navbar-form navbar-right text-right">
              <div class="search-block">
                <i class="fa fa-search"></i>
                <input type='text' ng-change="self.search()" ng-model='self.filter' ng-model-options="{updateOn: 'change'}"
                  size='10' placeholder="[Search]">
                <i class="ti-close" ng-click="self.filter = ''; self.modeFilter = 'all'; self.search()"
                    ng-style="{color: self.filter != '' ? '#c00' : '#eee'}"></i>
                <i class="fa fa-filter" ng-click="self.advancedSearch()"
                    title="Advanced search"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="row" 
        style="text-transform: uppercase; padding: 5px 30px; text-align: center;" 
        ng-class="{highlightBg: self.modeFilter!='all'}">
    <span style="margin-right: 10px;">Filter: {{self.modeFilter}} mode</span>
    <span class="delete-16x16" 
          ng-click="self.allFilesMode()" 
          style="cursor: pointer; vertical-align: bottom"
          ng-if="self.modeFilter!='all'"></span>
  </div>

  <div class="navbar-collapse">
    <div style="float: none!important; padding-left: 0;" class="navbar-form navbar-right">
      <div class="btn-group">
        <button class="btn btn-flat btn-sm" type="button" aria-expanded="true" ng-click="self.uploadFiles()">
          <i class="fa fa-upload"></i>&nbsp;Upload
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-flat btn-sm" type="button" aria-expanded="true" ng-click="self.newFolder()">
          <i class="fa fa-plus"></i>&nbsp;New Folder
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-flat btn-sm dropdown-toggle" type="button" id="more" data-toggle="dropdown"
          aria-expanded="true" ng-disabled="self.selectedList.length < 1 && self.pasteList.length < 1">More&nbsp;&nbsp;
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <!-- new dropdown -->
        <div class="dropdown-menu scrollable-menu animated fast fadeIn pull-right" role="menu" aria-labelledby="more">
          <div role="presentation" ng-click="self.dblClickNode(self.selectedList[0])" ng-class="{inactive: !(self.selectedList.length == 1)}" role="menuitem" tabindex="-1">
            <span class="lm-new-windows-16x16" style="margin-right: 10px; color: #0077be;"></span>
            <span class="name">Open</span>
          </div>
          <div role="presentation" ng-click="self.copyOrCut('copy')" ng-class="{inactive: !(self.selectedList.length == 1)}" role="menuitem" tabindex="-1">
            <span class="copy-16x16" style="margin-right: 10px; color: #0077be;"></span>
            <span class="name">Copy</span>
          </div>
          <div role="presentation" ng-click="self.copyOrCut('cut')" ng-class="{inactive: !(self.selectedList.length == 1)}" role="menuitem" tabindex="-1">
            <span class="zone-split-16x16" style="margin-right: 10px; color: #0077be"></span>
            <span class="name">Cut</span>
          </div>
          <div role="presentation" ng-click="self.paste()" ng-class="{inactive: !(self.selectedList.length == 1)}" role="menuitem" tabindex="-1">
            <span class="summation-16x16" style="margin-right: 10px; color: #0077be"></span>
            <span class="name">Paste</span>
          </div>
          <div role="presentation" ng-click="self.downloadFile(self.selectedList)" ng-class="{inactive: !(self.selectedList.length == 1) || !self.selectedList[0].rootIsFile}" role="menuitem"
          tabindex="-1">
            <span class="expand-16x16" style="margin-right: 10px; color: #0077be"></span>
            <span class="name">Download</span>
          </div>
          <div role="presentation" ng-click="self.removeNodes()" ng-class="{inactive: !(self.selectedList.length > 0)}" role="menuitem" tabindex="-1">
            <span class="purge-16x16" style="margin-right: 10px; color: #d44747"></span>
            <span class="name">Remove</span>
          </div>
          <div role="presentation" ng-click="self.bulkEdit(self.selectedList)" ng-class="{inactive: self.selectedList.length <= 1}" 
          role="menuitem"
          tabindex="-1">
            <span class="properties2-16x16" style="margin-right: 10px; color: #0077be"></span>
            <span class="name">Bulk Edit</span>
          </div>
          <div role="presentation" ng-click="self.copyMultiLocation(self.selectedList)" ng-class="{inactive: self.selectedList.length <= 1}" 
          role="menuitem"
          tabindex="-1">
            <span class="copy-16x16" style="margin-right: 10px; color: #0077be"></span>
            <span>Copy Locations</span>
          </div>

        </div>
        <!-- new dropdown -->

        <!-- <ul style="display: none;" class="dropdown-menu scrollable-menu animated fast fadeIn pull-right" role="menu" aria-labelledby="more">
          <li role="presentation" ng-click="self.dblClickNode(self.selectedList[0])">
            <a href="" ng-class="{inactive: !(self.selectedList.length == 1)}" role="menuitem" tabindex="-1">
              <i class="fa fa-folder-open"></i>&nbsp;&nbsp;Open
            </a>
          </li>
          <li role="presentation" ng-click="self.copyOrCut('copy')">
            <a href="" ng-class="{inactive: !(self.selectedList.length > 0)}" role="menuitem" tabindex="-1">
              <i class="fa fa-copy"></i>&nbsp;&nbsp;Copy
            </a>
          </li>
          <li role="presentation" ng-click="self.copyOrCut('cut')">
            <a href="" ng-class="{inactive: !(self.selectedList.length > 0)}" role="menuitem" tabindex="-1">
              <i class="fa fa-cut"></i>&nbsp;&nbsp;Cut
            </a>
          </li>
          <li role="presentation" ng-click="self.paste()">
            <a href="" ng-class="{inactive: !(self.pasteList.length > 0)}" role="menuitem" tabindex="-1">
              <i class="fa fa-paste"></i>&nbsp;&nbsp;Paste
            </a>
          </li>
          <li role="presentation" ng-click="self.downloadFile(self.selectedList)">
            <a href="" ng-class="{inactive: !(self.selectedList.length == 1) || !self.selectedList[0].rootIsFile}" role="menuitem"
              tabindex="-1">
              <i class="fa fa-download"></i>&nbsp;&nbsp;Download
            </a>
          </li>
          <li role="presentation" ng-click="self.removeNodes()">
            <a href="" ng-class="{inactive: !(self.selectedList.length > 0)}" role="menuitem" tabindex="-1">
              <i class="fa fa-trash"></i>&nbsp;&nbsp;Remove
            </a>
          </li>
          <li role="presentation" ng-click="self.bulkEdit(self.selectedList)">
            <a ng-class="{inactive: self.selectedList.length <= 1}" 
                role="menuitem"
                tabindex="-1">
              <i class="fa fa-edit"></i>&nbsp;&nbsp;Bulk Edit
            </a>
          </li>
          <li role="presentation" ng-click="self.copyMultiLocation(self.selectedList)">
            <a ng-class="{inactive: self.selectedList.length <= 1}" 
                role="menuitem"
                tabindex="-1">
              <i class="fa fa-clone"></i>&nbsp;&nbsp;Copy Locations
            </a>
          </li>
        </ul> -->
      </div>
      <div class="btn-group">
        <button class="btn btn-flat btn-sm" type="button" 
              aria-expanded="true" 
              ng-click="self.goTo(-999); self.filter=''; self.propOrder='rootName'; self.reverse=false; self.modeFilter='all'">
          <i class="fa fa-refresh"></i>&nbsp;Refresh
        </button>
      </div>
    </div>
  </div>

  <div id="img-container" style="display: none">
    <img-preview 
      data="self.imgResource.fileContent" 
      parent-elem="self.imgResource.parentElem" 
      fx-ctrl="self" 
      file-item="self.selectedList[0]"
      get-download-link="self.getDownloadLink"
      get-download-file-name="self.getDownloadFileName"
      >
    </img-preview>
  </div>

  <div class="main-content">
    <div class="spinner-wrapper col-xs-12" ng-show="self.requesting">
      <div class="lds-dual-ring"></div>
    </div>
    
    <div class="table-files">
      <table class="table mb0 noselect">
        <thead>
          <tr>
            <th>
              <a href="" ng-click="self.orderBy('name')">
                Name
                <span class="sortorder" ng-show="self.propOrder == 'name'" ng-class="{reverse: self.reverse}"></span>
              </a>
            </th>
            <th class="hidden-xs">
              <a href="" ng-click="self.orderBy('datatype')">
                Data type
                <span class="sortorder" ng-show="self.propOrder == 'datatype'" ng-class="{reverse: self.reverse}"></span>
              </a>
            </th>
            <th class="hidden-xs">
              <a href="" ng-click="self.orderBy('size')">
                Size
                <span class="sortorder" ng-show="self.propOrder == 'size'" ng-class="{reverse: self.reverse}"></span>
              </a>
            </th>
            <th class="hidden-sm hidden-xs">
              <a href="" ng-click="self.orderBy('modifiedDate')">
                Date modified
                <span class="sortorder" ng-show="self.propOrder == 'modifiedDate'" ng-class="{reverse: self.reverse}"></span>
              </a>
            </th>
          </tr>
        </thead>
        <tbody class="file-item">
          <!-- <tr ng-show="self.requesting">
            <td colspan="5">
              <div class="spinner-wrapper col-xs-12">
                <div class="lds-dual-ring"></div>
              </div>
            </td>
          </tr> -->
          <tr ng-show="!(self.fileList.length > 0) && !self.requesting">
            <td>
              <div>
                <span>No items match.</span>
              </div>
            </td>
          </tr>
          <tr class="item-list" 
              ng-repeat="item in self.fileList | orderBy:self.propOrder:self.reverse"
              ng-click="self.clickNode(item, $event)" 
              ng-dblclick="self.dblClickNode(item)" 
              ng-class="{selected: self.isSelected(item)}">
            <td>
              <a href="" title="{{item.rootName}}">
                <i class="glyphicon glyphicon-folder-close" ng-show="!item.rootIsFile"></i>
                <i class="glyphicon glyphicon-file" ng-show="item.rootIsFile"></i>
                {{item.rootName}}
              </a>
            </td>
            <td class="hidden-xs">
              <span>
                {{item.metaData.datatype}}
              </span>
            </td>
            <td class="hidden-xs">
              <span ng-if="item.rootIsFile">
                {{item.size | humanReadableFileSize}}
              </span>
              <span ng-if="!item.rootIsFile">
                --
              </span>
            </td>
            <td class="hidden-sm hidden-xs">
              <span>
                {{item.modifiedDate | formatDate}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <side-bar my-default-width="300" 
              orientation="w" 
              style="border-right: 1px solid #dedede;" 
              ng-if="self.selectedItem.metaData">
      <div class="right-panel">
        <storage-props meta-data="self.selectedItem.metaData" 
                        update-metadat-func="self.updateMetaData"
                        enable-associate="true">
        </storage-props>
      </div>
    </side-bar>
  </div>
</div>