<div ng-show="self.isDatabase" class="outside" style="align-items: center;justify-content: center;">
    <div style="display: flex; flex-direction: column; position: relative;">
        <div>
            <div class="project-normal-32x32"
                style="transform: scale(2) translateX(26px); position: absolute; bottom: 80px;"> </div>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div style="font-size: 20px; font-weight: bold;">
                DRAG & DROP
            </div>
            <div>
                workspace here
            </div>
        </div>
    </div>
</div>
<div class="outside">
    <div class="toolbar">
        <div ng-if="!self.hidePdbFeaturesPanel" class="left">
            <div title="Back" class="button-fn ti ti-arrow-left"
                ng-class="{inactive: self.requesting || self.historyIndex < 1}" ng-click="self.goBack()"></div>
            <div title="Forward" class="button-fn ti ti-arrow-right"
                ng-class="{inactive: self.requesting || self.historyIndex >= self.history.length - 1}"
                ng-click="self.goForward()"></div>
            <div title="Refresh" class="button-fn ti ti-reload"
                ng-click="self.goTo(-999); self.filter=''; self.propOrder='rootName'; self.reverse=false; self.modeFilter='none'">
            </div>
            <div class="split"></div>

            <!-- Upload -  -->
            <div ng-class="{inactive: self.dustbinMode}" title="Upload" class="button-fn ti ti-export" ng-click="self.uploadFiles()"></div>
            <!-- download -  -->
            <div title="Download" class="button-fn ti ti-import" ng-click="self.downloadFile(self.selectedList)"
                ng-class="{inactive: self.selectedList.length === 0 || self.dustbinMode}"></div>
            <!-- open -  -->
            <div title="Open" class="button-fn ti ti-share" ng-click="self.dblClickNode(self.selectedList[0])"
                ng-class="{inactive: !(self.selectedList.length == 1) || self.dustbinMode}"></div>
            <!-- newfolder -  -->
            <div title="New Folder" class="button-fn ti ti-plus" ng-click="self.newFolder()"
                ng-class="{inactive: self.dustbinMode}"></div>
            <!-- delete -  -->
            <div title="Delete" class="button-fn ti ti-close" ng-click="self.removeNodes()"
                ng-class="{inactive: self.selectedList.length < 1 }"></div>
            <!-- copy -  -->
            <div title="Copy" class="button-fn ti ti-files" ng-click="self.copyOrCut('copy')"
                ng-class="{inactive: self.dustbinMode}"></div>
            <!-- cut -  -->
            <div title="Cut" class="button-fn ti ti-cut" ng-click="self.copyOrCut('cut')" ng-class="{inactive: self.dustbinMode}">
            </div>
            <!-- paste -  -->
            <div title="Paste" class="button-fn ti ti-clipboard" ng-click="self.paste()"
                ng-class="{inactive: self.pasteList.length < 1 || self.dustbinMode}"></div>
            <!-- bulkvedit -  -->
            <div title="Bulk Edit" class="button-fn ti ti-menu-alt" ng-click="self.bulkEdit(self.selectedList)"
                ng-class="{inactive: self.selectedList.length <= 1 || self.dustbinMode}"></div>
            <!-- CopyLocation -->
            <div title="Copy Location" class="button-fn ti ti-layers-alt" ng-hide="self.hideAssociate"
                ng-click="self.copyMultiLocation(self.selectedList)"
                ng-class="{inactive: self.selectedList.length <= 1, 'copied': self.multiLocationCopied(self.selectedList)}">
            </div>

            <!--<div title="Import To Inventory" ng-if="!self.hideImportToInventory" class="button-fn ti ti-import"-->
            <!--style="transform: rotate(-90deg);"-->
            <!--ng-click="self.importFilesToInventory(self.selectedList)"></div>-->
            <!--<div title="Import ZoneSet" ng-if="!self.hideImportToInventory" class="button-fn import-zoneset-16x16"-->
            <!--ng-click="self.importZoneSet(self.selectedList)"></div>-->
            <!--<div title="Import MarkerSet" ng-if="!self.hideImportToInventory" class="button-fn import-markerset-16x16"-->
            <!--ng-click="self.importMarkerSet(self.selectedList)"></div>-->
            <div title="Submit to company database"
                ng-show="self.selectedList.length !== 0 && !self.hideImportToInventory"
                class="button-fn ti ti-check-box" ng-click="self.submitToCompanyDatabase(self.selectedList)"></div>
            <div class="split"></div>

            <div title="Bookmarks" class="button-fn ti ti-star" ng-click="self.showBookmarks($event)"
                ng-class="{inactive: !self.storageDatabase}"></div>
            <div title="Recent files" class="button-fn ti ti-time" ng-click="self.showRecentFiles($event)"
                ng-class="{inactive: !self.storageDatabase}"></div>
        </div>
        <div class="path-list">
            <div class="split"></div>
            <button class="ti" style="margin-right: 8px; padding: 0;" title="{{self.dustbinMode?'View storage':'View dustbin'}}"
                ng-class="self.dustbinMode?'ti-archive':'ti-harddrive'"
                ng-disabled="self.requesting"
                ng-click="self.switchStorageMode()"></button>
            <div class="ti ti-angle-right" style="margin-right: 8px; font-size: 9px;"></div>
            <div class="button-fn" style="margin-right: 8px;"
                ng-click="self.goTo(-1); self.filter='';self.modeFilter='none'">
                {{self.dustbinMode?'Dustbin':'Home'}}
            </div>
            <div ng-repeat="(key, dir) in self.currentPath.slice(0,-1) track by key" class="path-item">
                <div class="ti ti-angle-right" style="margin-right: 8px; font-size: 9px;"></div>
                <div ng-click="self.goTo(key); self.filter=''; self.modeFilter='none'" style="cursor: pointer;">
                    {{dir.rootName | strLimit : 8}}
                </div>
            </div>
            <div ng-if="self.currentPath.length" style="color: #000;" class="path-item active">
                <div class="ti ti-angle-right" style="margin-right: 8px; font-size: 9px;"></div>
                {{self.currentPath.slice(-1)[0].rootName | strLimit : 12}}
            </div>
        </div>
        <div class="processing" ng-show="self.processing.length" tabindex="0">
            <div class="split"></div>
            <div class="text">
                <span>{{self.processing.length}} task(s) in progress</span>
                <span class="ti ti-reload icon"></span>
            </div>
            <div class="split"></div>
            <div class="list">
                <div class="item" ng-repeat="item in self.processing track by item.key">
                    <div class="item-title">
                        <div class="title-text">
                            <span ng-if="item.status === 'ERROR'">Error</span>
                            <span ng-if="item.action === 'copy'">Copying</span>
                            <span ng-if="item.action === 'move'">Moving</span>
                            <strong>{{item.fromName}}</strong>
                            into
                            <strong>{{item.destName}}</strong>
                        </div>
                        <span class="action ti ti-close" ng-click="self.removeProcessing(item)"></span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar"
                            ng-class="{'progress-bar-danger': item.status==='ERROR', 'progress-bar-success': item.status==='SUCCESS'}"
                            ng-style="{width: item.percentage + '%'}"></div>
                    </div>
                    <!--                    <div>-->
                    <!--                        x-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
        <!-- Filler -->
        <div class="right">
            <div class="search-box">
                <input style="width: 150px; background: #f4f4f4; padding: 4px 10px; margin-right: 20px" type='text'
                    ng-change="self.search()" ng-model='self.filter' ng-model-options="{updateOn: 'change'}" size='10'
                    placeholder="[Search]"
                    ng-disabled="self.searching || (self.modeFilter !== 'simple search' && self.modeFilter !== 'none')">
                <div style="margin-right: 20px;  cursor: pointer;" class="ti ti-close" ng-click="self.clearSearch()"
                    title="{{self.searching?'Stop':'Clear'}}" ng-style="{color: self.filter != '' ? '#c00' : '#eee'}">
                </div>
                <div class="button-fn ti ti-settings" title="Advanced search" ng-click="self.advancedSearch()"
                    ng-disabled="self.searching"></div>
                <div class="button-fn ti ti-info" title="Index search" ng-click="self.indexSearch()"
                    ng-disabled="self.searching" style="margin-right: 0;"></div>
            </div>
            <div class="split margin"></div>
            <div class="filter-mode" ng-class="{highlightBg: self.modeFilter!='none'}">
                <span>FILTER: {{self.modeFilter}}</span>
                <span class="ti ti-close" ng-click="self.clearSearch()" ng-if="self.modeFilter!='none'"
                    style="margin-left: 10px; color: #fff; cursor: pointer;"></into>
            </div>
        </div>
    </div>
    <div ng-show="self.requesting" class="loading">
        <div class="loading-bar">
            <span class="bar-animation"></span>
        </div>
    </div>
    <div class="main-content">
        <div class="list-file" wi-right-click="self.showContextMenu(null, $event)">
            <wi-table-resizeable headers="self.headerArray" on-table-init="self.tableInit" order-header="self.propOrder"
                order-reverse="self.reverse" on-header-width-changed="self.changeWidth"
                default-widths="[300,200,250,100,150]">
                <div class="table-row"
                    ng-repeat="item in self.fileList | orderBy:self.getOrderItem:false:self.orderFn"
                    ng-click="self.clickNode(item, $event)" ng-dblclick="self.dblClickNode(item)"
                    wi-right-click="self.showContextMenu(item, $event)" ng-class="{selected: self.isSelected(item)}">
                    <div ng-style='{"width": self.widthArray[0]}' class="name-row" title="{{item.rootName}}"
                        style="position: relative;">
                        <i class="fa fa-check-circle" aria-hidden="true"
                            style=" position: absolute; color: #4CAF50; left: 23px; top: 18px; "
                            ng-show="item.metaData.issyncfolder === 'true' && !item.rootIsFile"></i>
                        <i class="folder-icon-16x16" ng-show="!item.rootIsFile"
                            style="margin-right: 5px; margin-bottom: -4px;"></i>
                        <!-- <i class="folder-icon-16x16" ng-show="!item.rootIsFile && item.metaData.issyncfolder === 'false'"
                           style="margin-right: 5px; margin-bottom: -4px;"></i> -->
                        <i ng-show="item.rootIsFile" class="{{self.getIconFile(item.metaData.name)}}"
                            style="margin-right: 5px; margin-bottom: -4px;"></i>
                        {{item.rootName}}
                    </div>

                    <div ng-style='{"width": self.widthArray[1]}' title="{{item.wellName}}" class="name-row">
                        {{item.wellName}}
                    </div>

                    <div ng-style='{"width": self.widthArray[2]}' title="{{self.dustbinMode ? deletedTime : item.codbStatus}}" class="data-type">
                        {{self.dustbinMode ?  (+item.metaData.name.substring(0,13) | formatDate) : item.codbStatus}}
                    </div>

                    <div ng-style='{"width": self.widthArray[3]}' title="{{item.metaData.datatype}}" class="data-type">
                        {{item.metaData.datatype}}</div>
                    <div ng-style='{"width": self.widthArray[4]}' title="{{item.size | humanReadableFileSize}}"
                        class="size">
                        <span ng-if="item.size || item.rootIsFile">
                            {{item.size | humanReadableFileSize}}
                        </span>
                        <span ng-if="!item.size && !item.rootIsFile">
                            --
                        </span>
                    </div>
                    <div ng-style='{"width": self.widthArray[5]}' title="{{item.modifiedDate | formatDate}}"
                        class="date">{{item.modifiedDate | formatDate}}</div>
                </div>
                <div ng-show="self.modeFilter !== 'none' && !self.searching && !self.fileList.length" class="table-row">
                    <div class="name-row" style="width: 100%;">No results found</div>
                </div>
            </wi-table-resizeable>
            <!-- <div class="table-header">
                <div class="name">Name</div>
                <div class="data-type">Data type</div>
                <div class="size">Size</div>
                <div class="date">Date modified</div>
            </div> -->
        </div>
        <side-bar my-default-width="342" collapsed="false" orientation="w" class="sidebar-properties"
            ng-if="!self.hideMetadataPanel">
            <div ng-if="!self.selectedItem.metaData" class="no-file-select" style=" opacity: 0.5; ">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="100px" viewBox="-101 -21 682 682.66669"
                        width="200px">
                        <g fill="#c6c5ca">
                            <path
                                d="m35 200h-40v-68.28125l131.71875-131.71875h68.28125v40h-51.71875l-108.28125 108.28125zm0 0">
                            </path>
                            <path d="m355 40h-40v-40h40zm-80 0h-40v-40h40zm0 0"></path>
                            <path d="m475 80h-40v-40h-40v-40h80zm0 0"></path>
                            <path
                                d="m475 480h-40v-40h40zm0-80h-40v-40h40zm0-80h-40v-40h40zm0-80h-40v-40h40zm0-80h-40v-40h40zm0 0">
                            </path>
                            <path d="m475 640h-120v-40h80v-80h40zm0 0"></path>
                            <path d="m315 640h-40v-40h40zm-80 0h-40v-40h40zm-80 0h-40v-40h40zm0 0"></path>
                            <path d="m75 640h-80v-80h40v40h40zm0 0"></path>
                            <path d="m35 520h-40v-40h40zm0-80h-40v-40h40zm0-80h-40v-40h40zm0-80h-40v-40h40zm0 0"></path>
                        </g>
                        <path d="m127.003906 0h-.285156l-131.71875 131.71875v.28125h132.003906zm0 0" fill="#2196F3">
                        </path>
                    </svg>
                </div>
                <div style="font-size: 20px; font-weight: bold; margin-top: 20px;">
                    Properties
                </div>
                <div style="text-align: center;">
                    Please select files or folders </br> to show properties
                </div>
            </div>
            <div class="right-panel">
                <storage-props meta-data="self.selectedItem.metaData" update-metadat-func="self.updateMetaData"
                    enable-associate="true" revision="self.selectedItem.revision" hide-associate="self.hideAssociate"
                    is-folder="!self.selectedItem.rootIsFile" get-size="self.getSize" api-url="self.url"
                    storage-database="self.storageDatabase" remove-revision-func="self.removeRevision"
                    restore-revision-func="self.restoreVersion" readonly-values="self.readonlyValues"
                    dblclick-revision-func="self.dblClickNode" item="self.selectedItem" dustbin-mode="self.dustbinMode">
                </storage-props>
            </div>
        </side-bar>
    </div>
    <div id="img-container" style="display: none; position: absolute;">
        <img-preview data="self.imgResource.fileContent" parent-elem="self.imgResource.parentElem" fx-ctrl="self"
            file-item="self.selectedList[0]" get-download-link="self.getDownloadLink"
            get-download-file-name="self.getDownloadFileName">
        </img-preview>
    </div>
    <vue-component root="WiDroppable"
        props="{
            onDrop: self.onDrop,
            dataType: 'Files',
            dropEffect: 'copy',
        }"
    />
    <vue-component root="WiContextMenu" container="self" ref="contextMenu"/>
</div>
