<div ng-show="self.isDatabase" class="outside" style="align-items: center;justify-content: center;">
    <div style="display: flex; flex-direction: column; position: relative;">
        <div>
            <div class="project-normal-32x32" style="transform: scale(2) translateX(26px); position: absolute; bottom: 80px;"> </div>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div style="font-size: 20px; font-weight: bold;">
                DRAG & DROP
            </div>
            <div>
            project here
            </div>
    </div>
    </div>
</div>
<div class="outside">
    <div class="toolbar">
        <div class="left">
            <div ng-if="!self.hidePdbFeaturesPanel" class="left" style="margin-left: 0;">
              <!-- Refresh - -->
              <div title="Reload" class="button-fn ti ti-reload" ng-click="self.goTo(-999); self.filter=''; self.propOrder='rootName'; self.reverse=false; self.modeFilter='all'"></div>
              <!-- Upload -  -->
              <div title="Upload" class="button-fn ti ti-export" ng-click="self.uploadFiles()"></div>
              <!-- download -  -->
              <div title="Download" class="button-fn ti ti-import" ng-click="self.downloadFile(self.selectedList)" ng-class="{inactive: self.selectedList.length === 0}"></div>
              <!-- open -  -->
              <div title="Open" class="button-fn ti ti-share" ng-click="self.dblClickNode(self.selectedList[0])" ng-class="{inactive: !(self.selectedList.length == 1)}"></div>
              <!-- newfolder -  -->
              <div title="New Folder" class="button-fn ti ti-plus" ng-click="self.newFolder()"></div>
              <!-- delete -  -->
              <div title="Delete" class="button-fn ti ti-close" ng-click="self.removeNodes()" ng-class="{inactive: !(self.selectedList.length > 0)}"></div>
              <!-- copy -  -->
              <div title="Copy" class="button-fn ti ti-files" ng-click="self.copyOrCut('copy')"  ng-class="{inactive: false}"></div>
              <!-- cut -  -->
              <div title="Cut" class="button-fn ti ti-cut" ng-click="self.copyOrCut('cut')" ng-class="{inactive: false}"></div>
              <!-- paste -  -->
              <div title="Paste" class="button-fn ti ti-clipboard" ng-click="self.paste()" ng-class="{inactive: !(self.pasteList.length > 0)}"></div>
              <!-- bulkvedit -  -->
              <div title="Bulk Edit" class="button-fn ti ti-menu-alt" ng-click="self.bulkEdit(self.selectedList)" ng-class="{inactive: self.selectedList.length <= 1}"></div>
              <!-- CopyLocation -->
             <div title="Copy Location" class="button-fn ti ti-layers-alt" ng-hide="self.hideAssociate"
                  ng-click="self.copyMultiLocation(self.selectedList)"
                  ng-class="{inactive: self.selectedList.length <= 1, 'copied': self.multiLocationCopied(self.selectedList)}"></div>
              
              <div title="Import To Inventory" ng-if="!self.hideImportToInventory" class="button-fn ti ti-import"
                  style="transform: rotate(-90deg);"
                  ng-click="self.importFilesToInventory(self.selectedList)"></div>
              <div title="Import ZoneSet" ng-if="!self.hideImportToInventory" class="button-fn import-zoneset-16x16"
                  ng-click="self.importZoneSet(self.selectedList)"></div>
              <div title="Import MarkerSet" ng-if="!self.hideImportToInventory" class="button-fn import-markerset-16x16"
                  ng-click="self.importMarkerSet(self.selectedList)"></div>
              <div title="Submit to company database"
                  ng-show="self.selectedList.length !== 0 && !self.hideImportToInventory"
                  class="button-fn ti ti-check-box" ng-click="self.submitToCompanyDatabase(self.selectedList)"></div>
            </div>
            <div title="Your Project" style=" border-right: 1px solid #e8e8e8; height: 40px; margin-right: 20px;"></div>
            <div class="button-fn ti ti-harddrives" style="margin-right: 10px;"></div>
            <div class="button-fn ti ti-angle-right" style="margin-right: 10px; font-size: 9px;"></div>
            <div class="button-fn" ng-if="self.currentPath.length > 0" style="margin-right: 10px;"
                ng-click="self.goTo(-1); self.filter='';self.modeFilter='all'">{{'Home'}}
            </div>
            <div class="button-fn" ng-if="self.currentPath.length < 1" style="margin-right: 10px;"
                ng-click="self.goTo(-1); self.filter='';self.modeFilter='all'">{{'Home'}}
            </div>
            <div ng-repeat="(key, dir) in self.currentPath track by key" ng-class="{'active':$last}"
                style="display: flex; align-items: center; margin-left: -10px; margin-right: 10px;">
                <div class="button-fn ti ti-angle-right" style="margin: 0 10px; font-size: 9px;"></div>
                <div ng-if="!$last" ng-click="self.goTo(key); self.filter=''; self.modeFilter='all'" style="cursor: pointer;">
                    {{dir.rootName | strLimit : 8}}
                </div>
                <div ng-if="$last" style="color: #000;">
                    {{dir.rootName | strLimit : 12}}
                </div>
            </div>
        </div>
        <div class="processing" ng-show="self.processing.length" tabindex="0">
            <div class="split"></div>
            <div class="text">
                <span>{{self.processing.length}} task(s) in progress</span>
                <span class="ti ti-reload icon"></span>
            </div>
            <div class="split"></div>
            <div class="list">
                <div class="item" ng-repeat="item in self.processing track by item.key">
                    <div class="item-title">
                        <div class="title-text">
                            <span ng-if="item.status === 'ERROR'">Error</span>
                            <span ng-if="item.action === 'copy'">Copying</span>
                            <span ng-if="item.action === 'move'">Moving</span>
                            <strong>{{item.fromName}}</strong>
                            into
                            <strong>{{item.destName}}</strong>
                        </div>
                        <span class="action ti ti-close" ng-click="self.removeProcessing(item)"></span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" ng-class="{'progress-bar-danger': item.status==='ERROR', 'progress-bar-success': item.status==='SUCCESS'}"
                            ng-style="{width: item.percentage + '%'}"></div>
                    </div>
<!--                    <div>-->
<!--                        x-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <!-- Filler -->
        <div class="right">
            <div class="search-box">
                <input style="width: 150px; background: #f4f4f4; padding: 4px 10px; margin-right: 20px" type='text'
                    ng-change="self.search()" ng-model='self.filter' ng-model-options="{updateOn: 'change'}" size='10'
                    placeholder="[Search]">
                <div style="margin-right: 20px;  cursor: pointer;" class="ti ti-close"
                    ng-click="self.filter = ''; self.modeFilter = 'all'; self.search()"
                    ng-style="{color: self.filter != '' ? '#c00' : '#eee'}"></div>
                <div class="button-fn ti ti-settings" title="Advanced search" ng-click="self.advancedSearch()"
                    style="margin-right: 0;"></div>
            </div>
            <div class="split margin"></div>
            <div class="filter-mode" ng-class="{highlightBg: self.modeFilter!='all'}">
                <span>FILTER: {{self.modeFilter}} mode</span>
                <span class="ti ti-close" ng-click="self.allFilesMode()" ng-if="self.modeFilter!='all'"
                    style="margin-left: 10px; color: #fff; cursor: pointer;"></into>
            </div>
        </div>
    </div>
    <div ng-show="self.requesting" class="loading">
        <div class="loading-bar">
            <span class="bar-animation"></span>
        </div>
    </div>
    <div class="main-content">
        <div class="list-file">
            <wi-table-resizeable headers="self.headerArray" on-table-init="self.tableInit"
                on-header-width-changed="self.changeWidth" default-widths="[300,200,250,100,150]">
                <div class="table-row" ng-repeat="item in self.fileList | orderBy:self.propOrder:self.reverse"
                    ng-click="self.clickNode(item, $event)" ng-dblclick="self.dblClickNode(item)"
                    ng-class="{selected: self.isSelected(item)}">
                    <div ng-style='{"width": self.widthArray[0]}' class="name-row" title="{{item.rootName}}"
                        style="position: relative;">
                        <i class="fa fa-check-circle" aria-hidden="true"
                            style=" position: absolute; color: #4CAF50; left: 23px; top: 18px; "
                            ng-show="item.metaData.issyncfolder === 'true' && !item.rootIsFile"></i>
                        <i class="folder-icon-16x16" ng-show="!item.rootIsFile"
                            style="margin-right: 5px; margin-bottom: -4px;"></i>
                        <!-- <i class="folder-icon-16x16" ng-show="!item.rootIsFile && item.metaData.issyncfolder === 'false'"
                           style="margin-right: 5px; margin-bottom: -4px;"></i> -->
                        <i ng-show="item.rootIsFile" class="{{self.setIconFile(item.metaData.name)}}"
                            style="margin-right: 5px; margin-bottom: -4px;"></i>
                        {{item.rootName}}
                    </div>
                    <div ng-style='{"width": self.widthArray[1]}' title="{{item.codbStatus}}" class="data-type">
                        {{item.codbStatus}}
                    </div>
                    <div ng-style='{"width": self.widthArray[2]}' title="{{item.metaData.datatype}}" class="data-type">
                        {{item.metaData.datatype}}</div>
                    <div ng-style='{"width": self.widthArray[3]}' title="{{item.size | humanReadableFileSize}}"
                        class="size">
                        <span ng-if="item.rootIsFile">
                            {{item.size | humanReadableFileSize}}
                        </span>
                        <span ng-if="!item.rootIsFile">
                            --
                        </span>
                    </div>
                    <div ng-style='{"width": self.widthArray[4]}' title="{{item.modifiedDate | formatDate}}"
                        class="date">{{item.modifiedDate | formatDate}}</div>
                </div>
            </wi-table-resizeable>
            <!-- <div class="table-header">
                <div class="name">Name</div>
                <div class="data-type">Data type</div>
                <div class="size">Size</div>
                <div class="date">Date modified</div>
            </div> -->
        </div>
        <side-bar my-default-width="300" collapsed="false " orientation="w"
          class="sidebar-properties"
          ng-if="!self.hideMetadataPanel">
            <div ng-if="!self.selectedItem.metaData" class="no-file-select" style=" opacity: 0.5; ">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="100px" viewBox="-101 -21 682 682.66669"
                        width="200px">
                        <g fill="#c6c5ca">
                            <path
                                d="m35 200h-40v-68.28125l131.71875-131.71875h68.28125v40h-51.71875l-108.28125 108.28125zm0 0">
                            </path>
                            <path d="m355 40h-40v-40h40zm-80 0h-40v-40h40zm0 0"></path>
                            <path d="m475 80h-40v-40h-40v-40h80zm0 0"></path>
                            <path
                                d="m475 480h-40v-40h40zm0-80h-40v-40h40zm0-80h-40v-40h40zm0-80h-40v-40h40zm0-80h-40v-40h40zm0 0">
                            </path>
                            <path d="m475 640h-120v-40h80v-80h40zm0 0"></path>
                            <path d="m315 640h-40v-40h40zm-80 0h-40v-40h40zm-80 0h-40v-40h40zm0 0"></path>
                            <path d="m75 640h-80v-80h40v40h40zm0 0"></path>
                            <path d="m35 520h-40v-40h40zm0-80h-40v-40h40zm0-80h-40v-40h40zm0-80h-40v-40h40zm0 0"></path>
                        </g>
                        <path d="m127.003906 0h-.285156l-131.71875 131.71875v.28125h132.003906zm0 0" fill="#2196F3">
                        </path>
                    </svg>
                </div>
                <div style="font-size: 20px; font-weight: bold; margin-top: 20px;">
                    Properties
                </div>
                <div style="text-align: center;">
                    Please select files or folders </br> to show properties
                </div>
            </div>
            <div class="right-panel">
                <storage-props meta-data="self.selectedItem.metaData" update-metadat-func="self.updateMetaData"
                    enable-associate="true" revision="self.selectedItem.revision" hide-associate="self.hideAssociate"
                    is-folder = "!self.selectedItem.rootIsFile"
                    get-size="self.getSize"
                    remove-revision-func="self.removeRevision" restore-revision-func="self.restoreVersion" well-readonly="self.wellReadonly">
                </storage-props>
            </div>
        </side-bar>
    </div>
    <div id="img-container" style="display: none; position: absolute;">
        <img-preview data="self.imgResource.fileContent" parent-elem="self.imgResource.parentElem" fx-ctrl="self"
            file-item="self.selectedList[0]" get-download-link="self.getDownloadLink"
            get-download-file-name="self.getDownloadFileName">
        </img-preview>
    </div>
</div>
