<div class='upload-files-modal modal fade' data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog modal-lg'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" ng-click="self.closeModal()">&times;</button>
                <h4 class="modal-title">Upload Files</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group" ng-show="self.processing">
                        <img style="width:16px;height:16px" src="https://python.i2g.cloud/assets/spinner.gif">
                        <i>Your files/folders are uploading: </i> <i ng-repeat="f in self.processingName track by $index">{{f.name}},&nbsp;</i>
                    </div>
                    <div class="form-group" ng-show="!self.processing">
                        <button class="btn btn-default btn-block upload-btn"
                                ng-show="!self.processing"
                                ngf-select="self.addForUpload($files)"
                                ngf-multiple="true">
                            Select Files
                        </button>
                    </div>
                    <div class="form-group" ng-show="!self.processing">
                        <button class="btn btn-default btn-block upload-btn"
                                ngf-select="self.folderPicked($files)" webkitdirectory mozdirectory msdirectory
                                odirectory
                                directory multiple> Select Folders
                        </button>
                    </div>
                    <div class="form-group" style="margin: 0">
                        <div class="upload-list">
                            <ul class="list-files-group" style="margin-bottom: 0">
                                <li class="list-files-group-item"
                                    ng-repeat="(index, uploadFolder) in self.uploadFolderList"
                                    ng-click="self.selectRow(uploadFolder, index, 'folder')"
                                    ng-class="{'selectRow' : self.selectedFile == uploadFolder}">
                                    <!-- <button ng-if="!uploadFolder.isDone"
                                            style="padding: 5px 10px; margin-top: -3px;"
                                            class="fa fa-remove btn btn-sm btn-danger pull-right"
                                            ng-click="self.removeFromUpload(index, 'folder')" 
                                            title="Remove from uploadlist">
                                    </button> -->
                                    <button ng-if="!uploadFolder.isDone"
                                            style="padding: 3px 10px; margin-top: -3px;"
                                            class="fa fa-remove btn btn-sm btn-danger pull-right"
                                            ng-click="self.removeFromFolder(index)"
                                            title="Clean files">
                                    </button>
                                    <span class="item-index">Folder {{index + 1}}.&nbsp;&nbsp;&nbsp;</span>
                                    <p class="list-group-item-heading"
                                       title="{{uploadFolder.path}}">
                                        {{uploadFolder.path}}&nbsp;&nbsp;&nbsp;
                                        <b ng-show="uploadFolder.isDone"
                                           style="color: forestgreen">Done</b>
                                    </p>
                                </li>
                            </ul>
                            <ul class="list-files-group">
                                <li class="list-files-group-item"
                                    ng-repeat="(index, uploadFile) in self.uploadFileList"
                                    ng-click="self.selectRow(uploadFile, index, 'file')"
                                    ng-class="{'selectRow' : self.selectedFile == uploadFile}">
                                    <button style="padding: 5 10px; margin-top: -3px;"
                                            class="fa fa-remove btn btn-sm btn-danger pull-right"
                                            ng-click="self.removeFromUpload(index)" title="Remove from uploadlist">
                                    </button>
                                    <button style="padding: 5 10px; margin-top: -3px;"
                                            class="fa fa-refresh btn btn-sm btn-success pull-right"
                                            ng-click="self.uploadFiles(index)" ng-show="uploadFile.existed"
                                            title="Overwrite and upload">
                                    </button>
                                    <div style="padding: 0 0.5em; max-height: 20%; overflow-y: auto;"
                                         ng-show="uploadFile.uploadingProgress">
                                        <div style="margin-bottom: 0.5em; display: flex; align-items: center;">
                                            <div style="flex: 1; overflow: hidden;">
                                                <div style="overflow: hidden; text-overflow: ellipsis;">
                                                    {{uploadFile.uploadingProgress.status}}
                                                </div>
                                                <div class="progress" style="margin-bottom: 3px; height: 3px;">
                                                    <div class="progress-bar progress-bar-striped active"
                                                         ng-style="{width: uploadFile.uploadingProgress.progress + '%'}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="item-index">{{index + 1}}.&nbsp;&nbsp;&nbsp;</span>
                                    <p class="list-group-item-heading"
                                       title="{{uploadFile.name}}">
                                        {{uploadFile.name}}&nbsp;&nbsp;&nbsp;
                                        <b ng-show="uploadFile.existed"
                                           style="color: red">Existed</b>
                                    </p>
                                </li>
                                <button class="btn btn-sm btn-success pull-right"
                                        ng-click="self.overwriteAllFiles()"
                                        ng-if="self.getExistedFiles().length > 0">
                                    <i class="fa fa-refresh"></i>&nbsp;Yes to all
                                </button>
                                <button class="btn btn-sm btn-primary pull-right"
                                        ng-click="self.uploadFolderList = [];self.uploadFileList = []"
                                        ng-if="!self.getExistedFiles().length">
                                    <i class="ti-brush-alt"></i>&nbsp;Clear
                                </button>
                            </ul>
                        </div>
                    </div>
                    <div class="hr-sect-file">Meta Data</div>
                    <div class="meta-data" ng-if="self.selectedFile.metaData">
                        <div class="form-group">
                            <label class="col-sm-2" style="text-align: right;">
                                Edit all {{self.typeSelect}}: 
                            </label>
                            <div class="col-sm-4">
                                <span class="ti-check button-checkbox checked-off"
                                      ng-class="{'checked-on':self.multiMD}"
                                      ng-click="self.multiMD = !self.multiMD"></span>
                            </div>
                        </div>
                        <storage-props meta-data="self.selectedFile.metaData || self.selectedFolder.metaData"
                                       update-metadat-func="self.updateMetaData"
                                       ng-if="!self.multiMD"></storage-props>
                        <storage-props meta-data="self.metaData4All" hide-header="true"
                                       update-metadat-func="self.updateMD4All"
                                       ng-if="self.multiMD"></storage-props>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="self.uploadFiles()" class="btn btn-default">
                    <span class="ok-16x16"></span>&nbsp;Upload
                </button>
                <button type="button" ng-click="self.closeModal()" class="btn btn-default">
                    <span class="close-16x16"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>