<div class='upload-files-modal modal fade' data-backdrop="static" data-keyboard="false">
    <div class='modal-dialog modal-md'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" ng-click="self.closeModal()">&times;</button>
                <h4 class="modal-title">Upload Files</h4>
            </div>
            <div style="max-height: 70vh; overflow-y: overlay; overflow-x: hidden; text-align: left;" class="modal-body text-center">
                <button class="btn btn-default btn-block" ngf-select="self.addForUpload($files)" ngf-multiple="true">
                    Select Files
                </button>

                <div class="upload-list">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="(index, uploadFile) in self.uploadFileList">
                            <button style="padding: 0 10px;" class="btn btn-sm btn-danger pull-right" ng-click="self.removeFromUpload(index)">
                                &times;
                            </button>
                            <h5 class="list-group-item-heading">{{uploadFile.name}}</h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="self.uploadFiles()" class="btn btn-default">
                    <span class="ok-16x16"></span>&nbsp;Upload
                </button>
                <button type="button" ng-click="self.closeModal()" class="btn btn-default">
                    <span class="close-16x16"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</div>