.hr-sect-file {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}

.hr-sect-file::before,
.hr-sect-file::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}
.upload-files-modal .upload-btn {
    margin: 0 15px;
    width: -webkit-fill-available;
    border: 1px solid steelblue;
    font-style: italic;
}

.upload-list {
    max-height: 300px;
    overflow-y: auto;
}
.upload-list .list-files-group {
    padding: 15px;
}
.upload-list .list-files-group .list-group-item-heading {
    display: inline-block;
    font-weight: bold;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
}
.upload-list .list-files-group li.list-files-group-item {
    list-style-type: none;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #f5f5f5;
    color: #333;
    position: relative;
}

.upload-list .list-files-group li.list-files-group-item:hover {
    background: #fff;
    border: 1px solid steelblue;
}

.upload-list .selectFile {
    background: #fff !important;
    color: #ed4643 !important;
    border: 2px solid steelblue !important;
}