<form class="form-horizontal storage-props" ng-if="self.metaData">
	<div ng-repeat="section in self.sections" ng-if="section!='More Information' && self.checkMDObj(section)">
		<div class="heading" 
			ng-if="!self.hideHeader || (!self.shortView && self.fields[section].length>0)">{{section}}</div>
		<div ng-repeat="md in self.fields[section]"
			class="form-group props-group"
			ng-class="[
				'type-' + md.type,
				md.readonly ? 'readonly': '',
				md.onSelect ? 'selectable' : '',
				md.selected ? 'selected': '',
				].join(' ')"
			ng-click="md.onSelect && md.onSelect()"
			ng-dblclick="md.onDblClick && md.onDblClick()"
			ng-if="md.use"
      >
			<label class="col-sm-5">
				<input type="checkbox" 
						ng-if="self.chooseBox && !md.readonly"
						ng-model="self.chooseBox[md.name]"
						ng-change="self.onChangeBox(self.chooseBox[md.name], md)">
				{{md.label}}
			</label>
			<div class="col-sm-7"
				style="border-left: 1px solid #ddd; padding: 0; display: flex; text-align: right; padding: 9px 15px;align-items: center;"
      >
				<div style="flex: 1; display: flex; justify-content: flex-end;" ng-switch="md.type">
					<input type="text" ng-model="md.value" 
							class="form-control props-value"
							ng-readonly="{{md.readonly}}"
							ng-switch-when="text"
							ng-blur="self.updateMetaData(md.name, md.value)"
							sp-enter="$event.currentTarget.blur();"
							ng-change="self.checkName(md, '{{md.value}}')"
							title="{{md.value}}">
					<input ng-switch-when="wiref" ng-if="md.label != 'Size' || !self.isFolder" 
							type="text" ng-model="md.ref"
							class="form-control props-value"
							readonly>
					<select ng-switch-when="wiselect"
							class="form-control props-value"
							ng-model="md.value"
							ng-options="item for item in md.selections"
							ng-change="self.onChangeSelect(md.name, md.value)"
							ng-disabled="md.readonly"
							title="{{md.value}}">
					</select>
					<div ng-switch-when="rating" class="quality-field">
						<span ng-repeat="star in [1,2,3,4,5]" 
							ng-click="!md.readonly && self.doRating(md, star)"
							ng-class="{highlight: star <= md.value}">
							<i class="fa fa-star"></i>
						</span>
					</div>
					<div ng-switch-when="wilink" style="display: flex;">
						<span class="{{md.value.icon}}" title="{{md.value.type}}"
								style="margin-right: 10px;"></span>
						<input type="text" ng-model="md.value.name"
								class="form-control props-value"
								title="{{md.value.name}}"
								ng-readonly="md.readonly"
								ng-click="self.selectWell(md)"
								style="display: inline; text-align: left; cursor: pointer;">
						<div ng-hide="self.hideAssociate">
							<i class="ti ti-clipboard"
								ng-click="self.pasteObject(md, md.name)"
								style="padding: 0 2px; cursor: pointer;"
								title="Paste!">
							</i>
							<i class="ti ti-close"
								ng-click="self.clearObject(md)"
								style="padding: 0 2px; cursor: pointer;"
								title="Clear!">
							</i>
						</div>
					</div>
					<div ng-switch-when="wiassociate" ng-hide="self.hideAssociate">
						<div class="ti ti-arrow-top-right" style="cursor: pointer;" ng-click="self.associateToNodes(md)"></div>
					</div>
					<div ng-switch-when="wirevision">
						{{md.value}}
						<i class="ti ti-view-list-alt" ng-click="self.revisionMetadata(md);"
							style="padding: 0 2px; cursor: pointer;" title="View metadata">
						</i>
						<i class="ti ti-back-left" ng-click="self.restoreRevision(md)"
							style="padding: 0 2px; cursor: pointer;" title="Restore to this version!">
						</i>
						<i class="ti ti-close" ng-click="self.removeRevision(md)"
							style="padding: 0 2px; cursor: pointer;" title="Remove this version!">
						</i>
					</div>
				</div>
				<div ng-if="md.label == 'Size' && self.isFolder">
					<span ng-if="self.folderSize==null && !self.checkFolderSizeProcess" ng-click="self.estimateFolderSize()" style="cursor: pointer;">Estimate Size</span>
					<span ng-if="self.folderSize==null && self.checkFolderSizeProcess">Loading...</span>
					<span ng-if="self.folderSize!=null">{{self.folderSize}}</span>
				</div>
				<div ng-if="md.name == 'location'" ng-hide="self.hideAssociate">
					<i class="ti ti-layers-alt"
						ng-class="{copied: self.locationCopied(md.value)}"
						ng-click="self.copyLocation(md.value)"
						style="padding: 0 5px; cursor: pointer;"
						title="Copy!">
					</i>
				</div>
			</div>
		</div>
	</div>
	<div ng-init="section = 'More Information'">
		<div class="heading" ng-if="!self.hideHeader || (!self.shortView && self.fields[section].length>0)">More Information</div>
		<div class="form-group props-group"
			ng-class="md.readonly ? 'readonly': ''"
			ng-repeat="md in self.fields[section]"
		>
			<div ng-if="md.name !== 'issyncfolder'">
				<label class="col-sm-5">
					<input type="text" class="form-control props-value" style="direction: ltr;"
						ng-model="md.label"
						ng-blur="self.updateMDName(md.label, md.name, md.value)"
						sp-enter="$event.currentTarget.blur();"
						ng-readonly="md.readonly"
						ng-change="self.warning = ''">
				</label>
				<div class="col-sm-7"
					style="border-left: 1px solid #ddd; display: flex; text-align: right; padding: 9px 15px;align-items: center;">
					<div style="flex: 1 ;display: flex; align-items: center;">
						<input type="text" class="form-control props-value"
							ng-model="md.value"
							ng-blur="self.updateMetaData(md.name, md.value)"
							ng-readonly="md.readonly"
							sp-enter="$event.currentTarget.blur();">
						<div ng-if="md.type=='rating'" class="quality-field">
							<span ng-click="self.removeDataMeta(md.name)">
								<i class="ti ti-close"></i>
							</span>
						</div>
						<div ng-if="!md.readonly" class="ti ti-close" ng-click="self.removeDataMeta(md.name)" style="margin-left: 10px; color: red;"></div>
					</div>
				</div>
			</div>
		</div>
		<div style="margin: 20px;" ng-if="!self.viewOnly">
			<label ng-if="self.warning" style="width: 100%; text-align: center; background: #ffe7b8;">{{self.warning}}</label>
			<div class="add-mdata" title="Add Metadata"
					ng-if="!self.shortView"
					ng-click="self.addMetaData()">Add Metadata
			</div>
		</div>
	</div>
</form>
