<form class="form-horizontal storage-props">
	<!-- <div ng-if="!self.checkMDObj()">no info</div> -->
	<div ng-repeat="section in self.sections" ng-if="self.checkMDObj()">
		<div class="heading" 
			ng-if="!self.hideHeader 
					|| section=='More Information' 
					|| (!self.shortView && self.fields[section].length>0)">{{section}}</div>
		<div ng-repeat="md in self.fields[section]"
			class="form-group props-group"
			ng-if="section!='More Information' && md.use"
      ng-style="md.readonly && {background: '#eee'}"
      >
			<label class="col-sm-5">
				<input type="checkbox" 
						ng-if="self.chooseBox && (md.name != 'field' && md.name != 'welltype')"
						ng-model="self.chooseBox[md.name]"
						ng-change="self.onChangeBox(self.chooseBox[md.name], md)">
				{{md.label}}
			</label>
			<div class="col-sm-7"
				style="border-left: 1px solid #ddd; padding: 0; display: flex; text-align: right; background: #fff; padding: 9px 15px;align-items: center;"
        ng-style="md.readonly && {background: '#eee'}">
				<div style="flex: 1">
					<input type="text" ng-model="md.value" 
							class="form-control props-value"
							ng-readonly="{{md.readonly}}"
							ng-if="md.type == 'text'"
							ng-blur="self.updateMetaData(md.name, md.value)"
							sp-enter="$event.currentTarget.blur();"
							ng-change="self.checkName(md, '{{md.value}}')"
							title="{{md.value}}">
					<input ng-if="md.type == 'wiref'" 
							type="text" ng-model="md.ref"
							class="form-control props-value"
							readonly=""
							sp-enter="">
					<select ng-if="md.type == 'wiselect'"
							class="form-control props-value"
							ng-model="md.value"
							ng-options="item for item in md.selections"
							ng-change="self.onChangeSelect(md.name, md.value)"
							title="{{md.value}}">
					</select>
					<div ng-if="md.type=='rating'" class="quality-field">
						<span ng-repeat="star in [1,2,3,4,5]" 
							ng-click="self.doRating(md, star)"
							ng-class="{highlight: star <= md.value}">
							<i class="fa fa-star"></i>
						</span>
					</div>
					<div ng-if="md.type=='wilink'" style="display: flex;">
						<span class="{{md.value.icon}}" title="{{md.value.type}}"
								style="vertical-align: middle;margin-left: 2px"></span>
						<input type="text" ng-model="md.value.name"
								class="form-control props-value"
								title="{{md.value.name}}"
                ng-readonly="true"
								style="display: inline; text-align: left; cursor: not-allowed;">
					</div>
					<div ng-if="md.type=='wiassociate'" ng-hide="self.hideAssociate">
						<div class="ti ti-arrow-top-right" style="cursor: pointer;" ng-click="self.associateToNodes(md)"></div>
					</div>
				</div>
				<div ng-if="md.name == 'location'" ng-hide="self.hideAssociate">
					<i class="ti ti-layers-alt"
						ng-class="{copied: self.locationCopied(md.value)}"
						ng-click="self.copyLocation(md.value)"
						style="padding: 0 5px; cursor: pointer;"
						title="Copy!">
					</i>
				</div>
				<div ng-if="md.type=='wilink'" ng-hide="self.hideAssociate">
					<i class="ti ti-clipboard"
						ng-click="self.pasteObject(md, md.name)"
						style="padding: 0 2px; cursor: pointer;"
						title="Paste!">
					</i>
					<i class="ti ti-close"
						ng-click="self.clearObject(md)"
						style="padding: 0 2px; cursor: pointer;"
						title="Clear!">
					</i>
				</div>
                <div ng-if="md.type=='wirevision'" >
                    {{md.value}}
                    <i class="ti ti-back-left"
                       ng-click="self.restoreRevisionFunc(md); self.removeRevision(md)"
                       style="padding: 0 2px; cursor: pointer;"
                       title="Restore to this version!">
                    </i>
                    <i class="ti ti-close"
                       ng-click="self.removeRevisionFunc(md); self.removeRevision(md)"
                       style="padding: 0 2px; cursor: pointer;"
                       title="Remove this version!">
                    </i>
                </div>
			</div>
		</div>

		<div class="form-group props-group more-info"
			ng-if="section=='More Information'" style="display: none;">
			<div ng-repeat="md in self.fields[section]">
				<div class="col-sm-5" style="border-left: 1px solid #ddd; padding: 0; display: flex; text-align: right; background: #fff; padding: 9px 15px;align-items: center;">
					<input type="text" class="form-control props-value"
							ng-model="md.label"
							ng-blur="self.updateMDName(md.label, md.name, md.value)"
							sp-enter="$event.currentTarget.blur();"
							ng-change="self.warning = ''"
							readonly="">
				</div>
				<div class="col-sm-6" style="border-left: 1px solid #ddd; padding: 0; display: flex; text-align: right; background: #fff; padding: 9px 15px;align-items: center;"
					style="border-left: 1px solid #ddd;">
					<input type="text" class="form-control props-value"
							ng-model="md.value"
							ng-blur="self.updateMetaData(md.name, md.value)"
							sp-enter="$event.currentTarget.blur();">
				</div>
				<div class="col-sm-1" style="border-left: 1px solid #ddd; padding: 0; display: flex; text-align: right; background: #fff; padding: 9px 15px;align-items: center;">
					<div type="text" class=" ti ti-close"
							ng-click="self.removeDataMeta(md.name)"
							style="width: 100%; background: none;">
					</div>
				</div>
			</div>
			<p>{{self.warning}}</p>
			<div class="btn btn-flat add-mdata" title="Add Metadata"
					ng-if="!self.shortView"
					ng-click="self.addMetaData()"></i> Add Metadata
			</div>
		</div>

		<div class="form-group props-group more-info"
			ng-if="section=='More Information'" ng-repeat="md in self.fields[section]">
			<div ng-if="md.name !== 'issyncfolder'">
				<label class="col-sm-5">
					<input type="text" class="form-control props-value" style="direction: ltr;"
						ng-model="md.label"
						ng-blur="self.updateMDName(md.label, md.name, md.value)"
						sp-enter="$event.currentTarget.blur();"
						ng-change="self.warning = ''"
						readonly="">
				</label>
				<div class="col-sm-7"
					style="border-left: 1px solid #ddd; padding: 0; display: flex; text-align: right; background: #fff; padding: 9px 15px;align-items: center;">
					<div style="flex: 1 ;display: flex; align-items: center;">
						<input type="text" class="form-control props-value"
							ng-model="md.value"
							ng-blur="self.updateMetaData(md.name, md.value)"
							sp-enter="$event.currentTarget.blur();">
						<div ng-if="md.type=='rating'" class="quality-field">
							<span ng-click="self.removeDataMeta(md.name)">
								<i class="ti ti-close"></i>
							</span>
						</div>
						<div class="ti ti-close" ng-click="self.removeDataMeta(md.name)" style="margin-left: 10px; color: red;"></div>
					
					</div>
				</div>
			</div>
		</div>
		<div class="form-group props-group more-info"
			ng-if="section=='More Information'"
			style="margin: 20px;">
			<div>
				<label ng-if="self.warning" style="width: 100%; text-align: center; background: #ffe7b8;">{{self.warning}}</label>
				<div class="add-mdata" title="Add Metadata"
						ng-if="!self.shortView"
						ng-click="self.addMetaData()">Add Metadata
				</div>
			</div>
		</div>
	</div>
</form>
