.storage-props {
	.heading {
		font-weight: bold;
	    background: #ddd;
	    padding: 3px;
	    border: 1px solid #cacbd32b;
	}
	.props-group {
		margin: 0;
		border-bottom: 1px solid #ddd;
		label {
			font-weight: normal;
			margin: 4px 0;
		}
		.props-value {
			font-size: 13px;
			border: none;
			height: auto;
			padding: 5px 7px;
			&:focus {
	          background: #fff;
	        }
		}
	}
	.more-info {
		.add-mdata {
			width: -webkit-fill-available;
		    font-size: 12px;
		    font-style: italic;
		    background: #4682b46e;
		    border-radius: 0;
		    display: block;
		}
		[class*="col-sm-"] {
			padding: 0;
		}
	}
}