.storage-props {
	input[type="checkbox"] {
		vertical-align: sub;
		margin: 0 10px 0 0;
	}
	.form-control {
		box-shadow   : none;
		border-radius: none;
	}

	.heading {
		font-weight  : bold;
		background   : #fff;
		padding      : 10px 15px;
		border-bottom: 1px solid #d2d2d2;
	}

	.props-group {
		margin       : 0;
		font-size    : 12px;
		border-bottom: 1px solid #ddd;

		// height       : 38px;
		&>div {
			height: 36px;
		}

		label {
			font-weight: normal;
			margin     : 0;
			padding    : 10px 15px;
			line-height: 1;
			height     : 36px;
			display: flex;
			align-items: center;
		}

		.props-value {
			font-size    : 12px;
			line-height  : 1;
			border       : none;
			height       : auto;
			padding      : 0;
			background   : #fff;
			text-overflow: ellipsis;
			// direction    : rtl;
			text-align: right;
		}

		select {
			direction: ltr !important;
		}

		.props-value[readonly] {
			background: #fff;
		}
	}

	.more-info {
		.add-mdata {
			width          : -webkit-fill-available;
			font-size      : 12px;
			font-weight    : bold;
			color          : #fff;
			background     : #1962a7;
			border-radius  : 2px;
			height         : 38px;
			display        : flex;
			align-items    : center;
			justify-content: center;
			cursor         : pointer;
		}
	}

	.copied {
		color      : red;
		font-weight: bold;
	}

	.quality-field {
		span {
			padding-right: 5px;
			font-size    : 12px;
			cursor       : pointer;
			color        : #ccc;
		}

		.highlight {
			color: #569bdc;
		}
	}
}